
server:
  port: 8081

spring:
  datasource:
    url: ${DATABASE_URL} 
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret:
    key: ${JWT_SECRET_KEY}
