
server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DATABASE_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
